VITE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzT8O-dp1cL_i1PXPsi1VcUJJzF_FFIszeRJpldqC8xyEor1HxmMO3nsOUccPO5G1xB/exec
VITE_SUPABASE_URL=https://supabase.com/dashboard/project/nzoleemomkltyvjpzyli
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im56b2xlZW1vbWtsdHl2anB6eWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NjQyNzksImV4cCI6MjA5NzM0MDI3OX0.s7nDD9GDyJMJ9EUxpxRGZE7GhPtUNVFwWQ2-i7Zm9r4